*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}
/* formattazione titolo principale */
header{
  text-align: center;
  margin-bottom: 40px;
}
.titolo-principale{
  font-size: 60px;
  color:#FFFFFF;
}
/* struttura del main provvisoria*/
.conteiner{
  width:860px;
  margin:auto;
  position:relative;
  margin-bottom: 20px;
}
/* trasformo i box in absolute*/
.conteiner .box{
  background-color: white;
  height:250px;
  width:200px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px #8AACB7;
}
/* posiziono i box sulla riga */
.box-1, .box-2, .box-3{
  position:absolute;
  top:0px;
}

.box-1{
  left:220px;
}

.box-2{
  left:440px;
}
.box-3{
  left:660px;
}

/* inserimento immagini */

.retro-carta{
  position:absolute;
  height:250px;
  width:200px;
  border-radius: 10px;
}
.fronte-carta{
  position:absolute;
  top:0;
  background-color: white;
  height:200px;
  width:200px;
  border-radius: 10px;
}
/* effetto carta che gira */
.box:hover .retro-carta{
  display:none;
}

/* inserimento nome carta */
.nome-carta{
  color:#E67919;
  font-size: 40px;
  position:absolute;
  bottom:5px;
  width:200px;
  text-align: center;
}

/* inserimento footer */

.credits{
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
